# --- Core Bot ---
hydrogram
tgcrypto

# --- Database ---
motor
dnspython

# --- Server & Web ---
aiohttp
aiofiles
uvloop

# --- Utilities ---
pytz
requests
qrcode
Pillow

# --- Extras ---
speedtest-cli
